# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
build/
dist/

# Environment Variables
.env
.env.local

# Tools
.ruff_cache/
.pytest_cache/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
*.pdf
uploads/

# React/Javascript
node_modules/
.ipynb_checkpoints
dist/
build/
.eslintcache

AGENTS.md